<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Crud</title>
      <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href=".\index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script type="text/javascript" src=".\index.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container" >
        <div>
            <h4>Angular 2 Quickstart</h4>
            <form action="" class="form-mail">
                <label for="pointer" >Current User:</label>
                <input value="Test@Test.com" class="enter-mail" id="pointer"></input>
            </form>
            </div>
        
        <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="background-color: greenyellow;" >
            Add product
        </button>
       
        <span class="clearfix"></span>
        <div class="alert alert-success alert-dismissable" ng-if="message">
            <a href="#" class="close" ng-click="clearMessage()">&times;</a>
            <strong>{{message}}!</strong>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Product Name</th>
                        <th>Product Price</th>                 
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr ng-repeat="product in products">
                        <td>                           
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#myModalEdit" ng-click="selectProduct(product)"><i class="fa-solid fa-pen-to-square"></i>
                            
                        </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#myModalDelete" ng-click="selectProduct(product)" style="background-color: red;"><i class="fa-solid fa-trash"></i>
                        </button>
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.price | currency: '$'}}</td>
                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="control-label col-sm-2">Product Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newProduct.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Product Price</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="newProduct.price">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" ng-click="addProduct()" data-dismiss="modal">Submit

                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
    <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">
           
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Product Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="clickedProduct.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Product Price</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="clickedProduct.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" ng-click="editProduct()" data-dismiss="modal">
                                    Submit
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalDelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <strong style="color: red">Are you sure you want to delete" {{clickedProduct.name}} " Product?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteProduct()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</body>
</html>